/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family: Arial, Helvetica,sans-serif;*/
/*}*/


/*}*/
/*.inner {*/
/*    padding-bottom: 200px;*/
/*}*/


/*.text-center{*/
/*    text-align: center;*/
/*}*/
/*.clearfix{*/
/*    float: none;*/
/*    clear: both;*/
/*}*/


/*.tbl-full{*/
/*    width: 100%;*/
/*    color:black;*/
/*}*/
.tbl-30{
    width: 30%;
}

/*table tr th{*/
/*    border-bottom: 1px solid black;*/
/*    padding: 1%;*/
/*    text-align: left;*/
/*}*/
/*table tr td{*/
/*    padding: 1%;*/
/*}*/
.btn-primary{
    background-color: dodgerblue;
    padding: 1%;
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    color: whitesmoke;
    text-decoration: underline;
    background-color: black;
}
.btn-secondary{
    background-color: lightblue;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary:hover{
    color: whitesmoke;
    text-decoration: underline;
    background-color: black;
}

.btn-third{
    background-color: lightblue;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-third:hover{
    color: whitesmoke;
    text-decoration: underline;
    background-color: lightcoral;
}

.btn-delete{
    background-color: lightpink;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-delete:hover{
    color: whitesmoke;
    text-decoration: underline ;
    background-color: red;
}
.success{
    color: red;
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
    font-family: Arial;
}

/*.error{*/
/*    color: goldenrod;*/
/*}*/

/*.account{*/
/*    border-bottom: 1px solid orangered;*/
/*}*/
/*.account ul{*/
/*    list-style-type: none;*/
/*    text-align: right;*/
/*}*/
/*.account ul li{*/
/*    display: inline;*/
/*    padding: 1%;*/

/*}*/
/*.account ul li a{*/
/*    text-decoration: none;*/
/*    font-weight: bold;*/
/*    color: lightsalmon;*/
/*}*/
/*.account ul li a:hover{*/
/*    color: tomato;*/
/*    display: inline;*/
/*}*/

/*CSS-main */
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
header {
    width: 100%;
    background: ghostwhite;
    height: 100px;
}

.hchar{
    font-size: 30px;
    text-decoration:none;
    float: left;
    margin: 25px 0 4px 60px;
}

footer {
    position: sticky;
    top: 100vh;
    width: 100%;
    background: lightgray;
}
.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}
.change{
    font-color: azure;
}


.full {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url("../images/university.jpeg")
    center / cover;
}

.character{
    color: #2f3542;
}


.logo{
    float: left;
    margin:10px 0 0 30px;
}

.logo img{
    width:150px;
}


.create {
    text-align: center;
    display: block;
}


/*/CSS*/

.login{
    border:1px solid gray;
    width: 30%;
    margin: 20% auto;
    padding: 2%;
    background-color: #ececec;
}

.login10{
    margin-top: 100%;
    text-align: center;
}

.infooutline{
    width: 100%;
    margin: 0 auto;
    padding: 1%;
}

.input-responsive{
    padding: 1%;
    margin: 0 auto;
}

 .fieldset {
    width: 450px;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;

}

 .legend-center{
    text-align: left;
 }

.inner {
    display:inline-block;
    padding: 36px 30px 30px;
    vertical-align: top;
}

.fchar {
    color: darkblue;
    font-size: 24px;
    text-decoration: none,
}

.mainouter {
    margin: 46px 0 49px 0;
}

.italic {
    font-size: 21px;
    color: darkblue;
    margin:0 20px 15px 100px;
    text-align: center;
}
.formline {
    margin: 70px 320px 80px 320px;
    padding-bottom: 10px;
    background-color: lightgrey;
}


.form {
    margin: 0 30px 0 30px;
}

.buttonform {
    width: 170px;
    height: 40px;
    color: floralwhite;
    margin: 23px 0 5px 0;
    font-size: 27px;
    background-color: darkblue;
}

.outline {
    margin-top: 45px;
    margin-bottom: 70px;
}

.type {
    display:flex;
    flex-flow: column;
    margin-top: 50px;
}

.logintype {
    padding:1em;
    background-color:ghostwhite;
    margin:0.5em auto;
    width:31%;
}

.logintype2 {
    padding:1em;
    background-color:ghostwhite;
    margin:0.5em auto;
    width:25%;
}

.buttonform2 {
    width: 240px;
    height: 30px;
    color: floralwhite;
    margin: 23px 0 5px 0;
    font-size: 17px;
    background-color: darkblue;
}

.wrapper {
    padding: 3%;
    margin-right: 20px;
    text-align: right;
}

.wrapper-inner {
    margin: 0 20px 0 20px;
}

.mainaccount {
  background-color: #d9edf7;
  margin-bottom: 70px;
  padding-bottom: 30px;
}

.passwordforgot{
    text-decoration: white;
    margin:0 30px 0 100px;
    color: darkcyan
}

.passwordforgot:hover {
    color: red;
    text-decoration: underline;
}

.fail {
    text-align: center;
}

.card {
    width: 306px;
    height: 241px;
    background-color: lightpink;
    margin:20px 0 10px 20px;
    border-radius: 5%;
}

.cardline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 21px 0;
}

.course {
  margin: 20px 20px 0 20px;
}

.content {
  margin:0 20px;
}

.lesson-btn-delete{
    background-color: blue;
    padding: 1%;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}
.lesson-btn-delete:hover{
    color: whitesmoke;
    text-decoration: underline ;
    background-color: red;
}
