/*.food-search input[type="search"]{*/
/*    width: 50%;*/
/*    padding: 1%;*/
/*    font-size: 1rem;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*}*/


/*!* CSS for Categories *!*/
/*.categories{*/
/*    padding: 2.8% 0 ;*/
/*    background-color: yellowgreen;*/
/*}*/

/*.box-3{*/
/*    width: 28%;*/
/*    float: left;*/
/*    margin: 2%;*/
/*}*/


/*!* CSS for Food Menu *!*/
/*.food-menu{*/
/*    background-color: gray;*/
/*    padding: 4% 0;*/
/*}*/
/*.food-menu-box{*/
/*    width: 43%;*/
/*    margin: 1%;*/
/*    padding: 2%;*/
/*    float: left;*/
/*    background-color: #ececec;*/
/*    border-radius: 15px;*/
/*}*/

/*.food-menu-img{*/
/*    width: 20%;*/
/*    float: left;*/
/*}*/

/*.food-menu-desc{*/
/*    width: 70%;*/
/*    float: left;*/
/*    margin-left: 8%;*/
/*}*/

/*.food-price{*/
/*    font-size: 1.2rem;*/
/*    margin: 2% 0;*/
/*}*/
/*.food-detail{*/
/*    font-size: 1rem;*/
/*    color: #747d8c;*/
/*}*/
/*.categories{*/
/*    background-color: yellowgreen;*/
/*}*/


/*!* CSS for Social *!*/
/*.social ul{*/
/*    list-style-type: none;*/
/*}*/
/*.social ul li{*/
/*    display: inline;*/
/*    padding: 1%;*/
/*}*/

/*!* for Order Section *!*/
/*.order{*/
/*    width: 45%;*/
/*    margin: 0 auto;*/
/*}*/
/*.input-responsive{*/
/*    width: 96%;*/
/*    padding: 1%;*/
/*    margin-bottom: 3%;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    font-size: 1rem;*/
/*}*/
/*.order-label{*/
/*    margin-bottom: 1%;*/
/*    font-weight: bold;*/
/*}*/

/*.fieldset{*/
/*    text-align: center;*/

/*}*/

/*!* CSS for Mobile Size or Smaller Screen *!*/

/*@media only screen and (max-width:768px){*/
/*    .logo{*/
/*        width: 80%;*/
/*        float: none;*/
/*        margin: 1% auto;*/
/*    }*/

/*    .menu ul{*/
/*        text-align: center;*/
/*    }*/

/*    .food-search input[type="search"]{*/
/*        width: 90%;*/
/*        padding: 2%;*/
/*        margin-bottom: 3%;*/
/*        background-image: url("../../Tokyo/Tokyo/images/dark.jpeg");*/
/*    }*/

/*    .btn{*/
/*        width: 91%;*/
/*        padding: 2%;*/
/*    }*/

/*    .food-search{*/
/*        padding: 10% 0;*/
/*    }*/

/*    .categories{*/
/*        padding: 20% 0;*/
/*    }*/
/*    h2{*/
/*        margin-bottom: 10%;*/
/*    }*/
/*    .box-3{*/
/*        width: 100%;*/
/*        margin: 5% auto;*/
/*    }*/

/*    .food-menu{*/
/*        padding: 20% 0;*/
/*    }*/

/*    .food-menu-box{*/
/*        width: 90%;*/
/*        padding: 5%;*/
/*        margin-bottom: 5%;*/
/*    }*/
/*    .social{*/
/*        padding: 5% 0;*/
/*    }*/
/*    .order{*/
/*        width: 100%;*/
/*    }*/
/*    .text-yellow{*/
/*        color: yellow;*/
/*    }*/

/*    .center-goods{*/
/*        background-color: cornflowerblue;*/
/*        background-size: cover;*/
/*        background-repeat: no-repeat;*/
/*        background-position: center;*/
/*        padding: 7% 0;*/
/*    }*/
/*}*/
/*.food-search input[type="search"]{*/
/*    width: 50%;*/
/*    padding: 1%;*/
/*    font-size: 1rem;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*}*/

.lessonindex {
    text-align: center;
    color: pink;
}

.cardcontent{
    height: 221px;
    width: 346px;
    background-color: lightcoral;
}

.cardoutline {
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 20px 45px 20px;
    text-align: center;
}

.updateform {
    width: 250px;
    height: 40px;
    margin: 7px 0 7px 200px;

}

.mainaccount {
    background-color: #d9edf7;
    margin:0 210px 70px 210px;
    padding-bottom: 30px;

}